<!-- <div class="container-fluid">
    <img src="static/banners/banner1.jpg" class="banner-image">
</div> -->

<div class="container-fluid">
<div class="jumbotron jumbotron-fluid nv-jumbotron">
    <div class="container">
        <h1 class="display-4">What is Vaccination?</h1>
        <p class="lead vaccination-info-overview">Vaccination is the administration of antigenic material (a vaccine) to stimulate the immune system of an individual to develop adaptive immunity to a disease.In general, vaccination is considered to be the most effective method of preventing infectious diseases.</p>
        <hr class="my-4">
        <p class="vaccination-info-detail">Vaccination/Immunization is a proven tool for controlling and even eradicating disease.An immunization campaign carried out by the World Health Organization (WHO) from 1967 to 1977 eradicated smallpox. Eradication of poliomyelitis is within reach. A successful immunization program is of particular relevance to India because India alone contributes 25% of global under five morality. Out of these 25% of global deaths, significant number comes from vaccine preventable diseases. There is no doubt that substantial progress has been achieved in India with wider use of vaccines, resulting in prevention of several diseases. However lot remains to be done and in some situations, progress has not been sustained.</p>
    </div>
</div>
<div class="card">
    <div class="card-body">
        <h5 class="card-title">Child Vaccination</h5>
        <p class="card-text"></p>
    </div>
</div>

<div class="card">
    <div class="card-body">
        <h5 class="card-title">Adult Vaccination</h5>
        <p class="card-text"></p>
    </div>
</div>

<div class="card">
    <div class="card-body">
        <h5 class="card-title">Vaccination Schedule</h5>
        <p class="card-text"></p>
    </div>
</div>

</div>