/* app css stylesheet */

body {
  color: #666;
  font-weight: 300;
  line-height: 1.6em;
}

.nv-navbar {
  background-color: #3fbbc0;
}

.nv-navbar .nav-link {
  color: #ffffff;
  font-weight: bold;
}

.nv-navbar .nav-link:hover {
  color:#212529;
}

.nv-navbar .nv-logo {
  color: #212529;
  font-weight: 600;

}

.nv-footer {
  margin-top: 50px;
  text-align: center;
}

.nv-icon-color {
  color: #3fbbc0;
}

.slide-show {
  height: 300px;
  overflow:hidden;
  background: url(static/banners/banner1.jpg) no-repeat top center;
}

.slide-show-image {
  width: 100%;
}

.info-card {
  margin-top: 10px;
  text-align: center;
}

/* Home page styles */

.home-banner {
  background: url('static/banners/banner1.jpg') no-repeat top center;
  height: 700px;
  background-size: 100% auto;
}

