/* app css stylesheet */

.nv-navbar {
  background-color: #3fbbc0;
}

.nv-navbar .nav-link {
  color: #ffffff;
  font-weight: bold;
}

.nv-navbar .nav-link:hover {
  color:#212529;
}

.nv-navbar .company-name {
  vertical-align: super;
}

.nv-footer {
  margin-top: 50px;
  text-align: center;
}

.slide-show {
  height: 300px;
}

.slide-show-image {
  width: 100%;
  height: auto;
}

.info-card {
  margin-top: 10px;
  text-align: center;
}

