<div class="container">
<div class="row">

    <div class="col-xs-12 col-md-6 col-lg-4">
        <div class="card info-card">
            <div class="card-img-top">
                <i class="fas fa-info-circle fa-7x nv-icon-color"></i>
            </div>
            <div class="card-body">
            <p class="card-text">
                    National Pharmaceuticals, a proprietorship, established in March 1993, in the field of distribution of human vaccines, temperature sensetive pharmaceutical products and diagnostic reagents in Chandigarh.
            </p>
            </div>
        </div>
    </div>

    <div class="col-xs-12 col-md-6 col-lg-4">
        <div class="card info-card">
            <div class="card-img-top">
                <i class="far fa-handshake fa-7x nv-icon-color"></i>
            </div>
            <div class="card-body">
                <p class="card-text">
                    During the past 25 years, we have been widely accepted and recoganised as the most ethical and professional house of vaccines and diagnostics in Chandigarh and North India.
                </p>
            </div>
        </div>
    </div>

    <div class="col-xs-12 col-md-6 col-lg-4">
        <div class="card info-card">
            <div class="card-img-top">
                <i class="fas fa-thermometer fa-7x nv-icon-color"></i>
            </div>
            <div class="card-body">
                <p class="card-text">
                    National Pharmaceuticals has the best cold chain system not only in Chandigarh but in North India which is widely accepted and appreciated by the vaccine industry and the customers.
                </p>
            </div>
        </div>
    </div>


    <div class="col-xs-12 col-md-6 col-lg-4">
        <div class="card info-card">
            <div class="card-img-top">
                <i class="fas fa-medal fa-7x nv-icon-color"></i>
            </div>
            <div class="card-body">
                <p class="card-text">
                    In August 2011, National Pharmaceuticals received the prestigious ISO 9001:2008 Certification for its professional, ethical and quality management.
                </p>
            </div>
        </div>
    </div>

    <div class="col-xs-12 col-md-6 col-lg-4">
        <div class="card info-card">
            <div class="card-img-top info-cards">
                <i class="fas fa-hospital fa-7x nv-icon-color"></i>
            </div>
            <div class="card-body">
                <p class="card-text">
                    Catering to needs of 500+ clinics, nursing homes and hospitals.
                </p>
            </div>
        </div>
    </div>



</div>
</div>